:root {
  /* 색상 */
  --color-black: #000000;
  --color-white: #ffffff;

  --color-secondary: #9333ea;
  --color-gray: #6b7280;

  /* 폰트 */
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.25rem;

  /* 여백 */
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
}
