.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-color:;
  border-bottom: var(--color-gray-100) 1px solid;
}

.header-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-primary-50);
  display: flex;
  align-items: center;
  justify-content: center;
}
